@{
  Layout = "_Layout";
}
<div class= "container">
  <h2>Input Word: <span class="text-primary">"@Model.GetWord()"</span></h1>
  <h2>Input Sentence: <span class="text-primary">"@Model.GetSentence()"</span></h1>
  <h3>The word "<u class="text-primary">@Model.GetWord()</u>" appears <u class="text-primary">@Model.WordCounterCheck()</u> times in the sentence "<u class="text-primary">@Model.GetSentence()</u>."</h3>
  <br>
  
  <a href="/wordcounter"><button class="btn btn-lg btn-primary">Try Again</button></a>
</div>